{% extends "includes/layout.njk" %}

{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/select/macro.njk"        import govukSelect %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Send a response</h1>

                <form action="{{ routes.controllers.FakeResponseController.post().url }}" method="post">

                    {{ govukInput({
                      classes: "govuk-input--width-10",
                      label: {
                        text: "Arrival Id",
                        isPageHeading: false
                      },
                      id: "arrivalId",
                      name: "arrivalId",
                      value: form.arrivalId.value,
                      errorMessage: form.arrivalId.error
                    }) }}

                    {{ govukInput({
                    classes: "govuk-input--width-10",
                    label: {
                        text: "Version",
                        isPageHeading: false
                    },
                        id: "version",
                        name: "version",
                        value: form.version.value,
                        errorMessage: form.version.error
                    }) }}


                    {{ govukSelect({
                      classes: "govuk-input--width-20",
                      label: {
                        text: "Message type",
                        isPageHeading: false
                      },
                      id: "messageType",
                      name: "messageType",
                      errorMessage: form.messageType.error,
                      items: messageType
                    }) }}

                    {{ govukButton({
                      text: messages("site.continue"),
                      attributes: {id:"submit"}
                    }) }}
       </form>
      </div>
    </div>
  </div>

{% endblock %}
