
{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Generated MRN
        </h1>

        <p>
          {{ generatedMrn }}
        </p>

      </div>
    </div>
  </div>

{% endblock %}